<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.thegamecontriver.sharetext"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="9" />
    <application android:label="@string/app_name">
        <activity android:name="com.unity3d.player.UnityPlayerNativeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" /> // TV
            </intent-filter>
        </activity>
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />  /*Zeroconf*/
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> /*Network Status Lib.*/

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" /> // TV
    <uses-feature android:name="android.software.leanback" android:required="false" /> // TV
    
    <uses-feature android:name="android.hardware.gamepad" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />

    
</manifest>
